<h1>You played Paper</h1>

<p>The computer played


<%=@computer_move%>
</p>



<% if @computer_move == "Paper"%>
You tied!
<% end %>

<% if @computer_move == "Rock"%>
You won!
<% end %>

<% if @computer_move == "Scissors"%>
You lost!
<% end %>

<img src="/assets/images/paper.png" width = "200">
